html{
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



/*导航部分开始*/
nav{
  width: 100%;
  height:50px;
  line-height: 50px;
  border-bottom: 1px solid gray;
  /*background-color:wheat;*/
}

.left-word{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  /*background-color: burlywood;*/
}

.search-box{
  display: inline-block;
  width: 180px;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid gray;
}

#searchBtn{
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(30%);
  background: url("../images/searchPic.png");
  background-size: 100%;
}

.search{
  width: 150px;
  font-size: 16px;
  border: none;
}

#login,#sign{
  padding: 5px;
  margin-right: 20px;
  float: right;
  line-height:13px;
  /*top:50%;*/
  transform: translateY(50%);
  border:1px solid gray;
  font-size: 16px;
}

#login:hover,#sign:hover{
  border:1px solid #3C89BD;
  color: #3C89BD;
  cursor: pointer;
}
/*注册模块部分开始*/

#signLogin{
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #5E5D5C;
  z-index: 4;
}

#signUp{
  /* visibility: hidden; */
  display: block;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #767B84;
  border-radius: 3px;
  box-shadow:0 0 6px #4C4C4C;
  /*（水平方向，垂直方向，模糊程度）*/
  text-align: center;
  font-size: 15px;
  z-index: 9999;
  background-color: #fff;
}

.sign-header{
  height: 45px;
  border-bottom:1px solid #CFD3D9;
}


.sign-header p{
  color:#5E5D5C;;
  font-size: 23px;
  line-height: 45px;
}


#signUpClose{
  /*display: inline-block;*/
  width: 18px;
  height:18px;
  position: absolute;
  top: 11px;
  right: 11px;
  background: url("../images/close.png");
  background-size: 100%;
  cursor: pointer;
}

#signUpClose:hover{
  width: 20px;
  height:20px;
  top: 10px;
  right: 10px;
}

#signUpBox{
  width: 70%;
  margin: 12px auto 0;
}

.sign_text{
  width:calc(100% - 15px);
  height: 30px;
  line-height: 25px;
  padding-left: 15px;
  margin-top: 7px;
  font-size: 16px;
  border: 1px solid #BABABA;
}

#passTips{
  display: none;
  /*display: block;*/
  width: 200px;
  height: 20px;
  margin-top: 7px;
  background: url("../images/ruo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#tips{
  display: none;
  position: relative;
  margin-top: 15px;
  text-align: left;
}

#tips p{
  width:95%;
  padding-left: 20px;
  color: red;
  font-size: 13px;
  word-wrap:break-word; word-break:break-all;
}

#tips span{
  width:15px;
  height:15px;
  position: absolute;
  left:0;
  top:0;
  margin-top: 1px;
  margin-right: 3px;
  background: url("../images/wrong.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#signButton{
  width:70%;
  height: 35px;
  /*margin: 15px auto 10px;*/
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: #6a6b69;
          /*#80B136;*/
  border:1px solid #989898;
  cursor: pointer;
}

/*#signButton:hover{*/
  /*background-color:#434343;*/
          /*!*#90CE55;*!*/
/*}*/

.to-login{
  margin-top: 15px;
  margin-bottom: 15px;
  color: #296F8F;
  font-size: 12px;
  cursor: pointer;
}

#screen{
  display: none;
  /*display: block;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 3;
  opacity: 0.3;
}

#signUpBox input::-webkit-input-placeholder { /* WebKit browsers */
  color: #C8C8C8;
}
#signUpBox input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#C8C8C8;
}
#signUpBox input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #C8C8C8;
}
#signUpBox input::-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #C8C8C8;
}

#tologin{
  /* visibility: hidden; */
  display: block;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #767B84;
  box-shadow:0 0 6px #4C4C4C;
  /*（水平方向，垂直方向，模糊程度）*/
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  z-index: 9999;
  background-color: #fff;
}
  /*注册模块部分结束*/

/*导航部分结束*/

/*大标题部分开始*/
.header{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.header h1{
  font-size: 40px;
}

#writing{
  width: 65px;
  padding: 5px;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 10px;
  background-color: #75D081;
}

/*大标题部分结束*/

/*轮播图部分开始*/
#imageCarousel {
  width: 88%;/* 900px; */
  height: 500px;
  position: relative;
  margin: 20px auto;
  /*border: 3px solid #333;*/
  overflow: hidden;
}

#pic {
  /* 7个图片尺寸900*7 */
  width: 700%;  /* 6300px */
  height: 100%;
  position: absolute;
  left: -100%;
  z-index: 1;
}

#pic img {
  float: left;
}

#buttons {
  width: 30%;
  height:12.45%;
  position: absolute;
  left: 35%;
  bottom: 5.5%;
  z-index: 2;
}

#buttons span {
  display: inline-block;
  width: 6%;
  height: 40%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8.3%;
  border-radius: 50%;
  cursor: pointer;
  float: left;
  background: white;
  /* opacity: 0.7; */
}

.unon{
  opacity: 0.6;
}

.on {
  opacity: 1;
}

.arrow {
  display: none;
  position: absolute;
  top: 40%;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 80px; /* 用媒体查询自适应 */
  font-weight: 900;
  color: white;
  text-shadow:3px 3px 3px #162866;
  opacity: 0.7;
}

.arrow:hover {
  opacity: 1;
}

#imageCarousel:hover .arrow {
  display: block;
}

#pre {
  left: 20px;
}

#next {
  right: 20px;
}

/*轮播图部分结束*/


/*最新诗歌部分开始*/
.newest{
  margin-top: 30px;
  text-align: center;
}
.newest h1{
  font-size: 20px;
}

.contain{
  display: inline-block;
  width: 100%;
  height: 500px;
}

.contain li{
  display: inline-block;
  width: 20%;
  height: 50%;
  position: relative;
  margin: 10px;
  border: 1px solid #839DB8;
  overflow: hidden;
  box-shadow: 1px 1px 1px #C7D0DB;
}

.contain li:before{
  content:"";
  display: block;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: url(../images/newest1.jpg);
  background-size: 100% 100%;
  opacity: 0.5;
  z-index: -1;
}

.contain li:after{
  content:"阅读全诗";
  display: block;
  position: absolute;
  bottom:0;
  left:0;
  padding:5px;
  border-top:1px solid #839DB8;
  font-size: 15px;
  width: 100%;
  background-color: white;
}

.contain h2{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size:20px;
}

.contain h3{
  margin-bottom: 5px;
  font-size: 16px;
}

.contain p{
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 2px;
}

.contain p:after{
  content:"";
  display: block;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}

/*最新诗歌部分结束*/

/*推荐诗友部分开始*/
.commend{
  margin-top: 10px;
  text-align: center;
}

.commend h1{
  font-size:20px;
}

/*推荐诗友轮播图部分开始*/
.tuijian-run{
  width: 90%;
  position: relative;
  margin:10px auto;
}

#imageCarousel_ul {
  width: 80%;
  height: 100px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;

  /*border: 1px solid red;*/
}

#tuijian {
  /* 7个图片尺寸900*7 */
  width: 700%;  /* 6300px */
  height: 100%;
  position: absolute;
  left: -100%;
  z-index: 1;
  /* text-align: center; */
  font-size: 0;
}

#tuijian ul{
  display: inline-block;
  width: 14.28%;
  height: 100%;
  /*border: 1px solid blue;*/
  text-align: center;
}

#tuijian li {
  display: inline-block;
  width: 20%;
  /*border: 1px solid pink;*/
}

#tuijian li p{
  font-size: 18px;
}

#tuijian img {
   width: 70%;
   border-radius: 50%;
}

.arrow-2 {
  display: block;/* none;  */
  position: absolute;
  top: 10%;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 80px; /* 用媒体查询自适应 */
  font-weight: 900;
  color: snow;
  text-shadow:3px 3px 3px #162866;
  opacity: 0.7;
}

.arrow-2:hover {
  opacity: 1;
  cursor: pointer;
}

#pre_2 {
  left: 0;
}

#next_2 {
  right: 0;
}

/*推荐诗友轮播图部分结束*/


/*footer部分开始*/
footer{
  text-align: center;
}

footer hr{
  width:90%;
  margin-top: 50px;
}

footer h1{
  margin: 50px;
  font-size: 20px;
}
/*footer部分结束*/

/*媒体查询部分开始*/
@media (max-width: 992px){
  /* 轮播箭头大小 */
  .arrow ,.arrow-2{
    font-size: 60px;
  }

}

@media (max-width: 992px){
  /* 轮播箭头大小 */
  .arrow ,.arrow-2{
    font-size: 60px;
  }
  #tuijian li p{
    font-size: 15px;
  }
}

@media (max-width: 800px){
  /* 轮播箭头大小 */
  .arrow ,.arrow-2{
    font-size: 55px;
  }

  #tuijian li p {
    font-size: 12px;
  }

  .contain{
    width: 95%;
  }
  .contain li{
    width: 28%;
  }
}

@media (max-width: 650px){
  /* 轮播箭头大小 */
  .arrow ,.arrow-2{
    font-size: 50px;
  }

  #tuijian li p {
    font-size: 10px;
     -webkit-transform: scale(0.90);
  }

  .contain li{
    width: 40%;
  }
}

@media (max-width: 450px){
  .header h1{
    font-size: 35px;
  }
  /* 轮播箭头大小 */
  .arrow ,.arrow-2{
    font-size: 40px;
  }
  #tuijian li p {
   font-size: 8px;
   -webkit-transform: scale(0.80);
 }
  .contain li{
    width: 60%;
  }

}

@media (max-width: 300px){
  .header h1{
    font-size: 30px;
  }
  /* 轮播箭头大小 */
  .arrow ,.arrow-2{
    font-size: 25px;
  }
  #tuijian li p {
    font-size: 8px;
    -webkit-transform: scale(0.60);
  }
  .contain{
    height: 400px;
  }
  .contain li{
    width: 90%;
  }
  .contain p{
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

/*媒体查询部分结束*/